<br>
<br>
<br>
<!-- Client new Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">New Client</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p id="notice"><%= notice %></p>
        <%= render 'form', settings: @settings %>
      </div>
    </div>
  </div>
</section>
<br>
