
<br>
<br>
<br>>

<!-- Bill new Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">New Bill</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <%= render 'form', bill: @bill %>

        <%= link_to 'Back', bills_path %>
      </div>
    </div>
  </div>
</section>
<br>
