<br>
<br>
<br>

<!-- Activities new Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">Activities</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <%= render 'form', activity: @activity %>
        <br>
        <%= link_to 'Back', activities_path, class: "btn btn-secondary btn-block" %>
      </div>
    </div>
  </div>
</section>
<br>
