<br>
<br>
<br>
<!-- Editing Client Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">Editing Client</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <%= render 'form', client: @client %>

        <%= link_to 'Show', @client, class: "btn btn-secondary btn-block"%>
        <%= link_to 'Back', clients_path, class: "btn btn-secondary btn-block" %>
      </div>
    </div>
  </div>
</section>
<br>
