<br>
<br>
<br>
<!-- Client new Section -->
<section class="lateral-separator top-separator" id="contact">
  <div class="container">
    <h2 class="text-center">New Client</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <p id="notice"><%= notice %></p>
        <%= render 'form', client: @client %>

        <%= link_to 'Back', clients_path %>
      </div>
    </div>
  </div>
</section>
<br>
