<br>
<br>
<br>
<!-- Client new Section -->
<section id="contact">
  <div class="container">
    <h2 class="text-center">New Client</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p id="notice"><%= notice %></p>

        <%= render 'form', client: @client, class: "btn btn-primary btn-block" %>

        <%= link_to 'Back', clients_path, class: "btn btn-secondary btn-block" %>
      </div>
    </div>
  </div>
</section>
<br>
